# Server Configuration
SERVER_PORT=1324

# GO Feature Flag Configuration
GOFF_ENDPOINT=http://localhost:1031

# Environment (development, staging, production)
ENVIRONMENT=development

# Keycloak Configuration
KEYCLOAK_URL=https://auth.bettercity.app/
KEYCLOAK_REALM=bettercity
KEYCLOAK_CLIENT_ID=better-feature-flag
KEYCLOAK_CLIENT_SECRET=56789012345678901234567890123456

