# JWT Configuration
JWT_SECRET=minha-chave-secreta-super-segura

# Server Configuration
SERVER_PORT=1324

# GO Feature Flag Configuration
GOFF_ENDPOINT=http://localhost:1031

# Environment (development, staging, production)
ENVIRONMENT=development

